body {
    padding-top: 40px;
}

.container {
    max-width: 800px;
}

.sinopsis {
    margin-top: 20px;
    font-style: italic;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-nav{
    display: flex;          /* pone los items en fila */
    flex-direction: row;    /* asegura horizontal */
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navbar-nav li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}